# EmploymentPy
---

## Python code for city-level-employment project (project #3)

In [1]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import numpy as np
import datetime as dt

from splinter import Browser
from bs4 import BeautifulSoup

import requests
import urllib.parse as up
import json
import csv

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

# Import API key for Bureau of Labor Statistics (BLS) API 2.0
from api_keys import bls_api_key

In [2]:
# read US Cities data file and load key columns into DF

city_list = []
lat_list = []
long_list = []
pop_list = []


with open('input_data/uscities.csv') as city_data_file:
        
    city_data = csv.reader(city_data_file)


    for row in city_data:
        
        if row[0] != 'city':
            city_list.append(row[0])
        
        if row[6] != 'lat':
            lat_list.append(row[6])

        if row[7] != 'lng':
            long_list.append(row[7])
            
        if row[8] != 'population':
            pop_list.append(row[8])
            


city_dict = {'City':city_list, 'Latitude':lat_list, 'Longitude':long_list, 'Population':pop_list}

In [3]:

city_loc_pop_df = pd.DataFrame(city_dict)

city_loc_pop_df.head(100)

           City Latitude  Longitude Population
0      New York  40.6943   -73.9249   18972871
1   Los Angeles  34.1141  -118.4068   12121244
2       Chicago  41.8375   -87.6866    8595181
3         Miami  25.7840   -80.2101    5711945
4        Dallas  32.7935   -96.7667    5668165
..          ...      ...        ...        ...
95   Long Beach  33.7977  -118.1670     466565
96         Reno  39.5497  -119.8483     463328
97      Madison  43.0822   -89.3930     461778
98  Little Rock  34.7256   -92.3577     457379
99   Greenville  34.8354   -82.3646     450487

[100 rows x 4 columns]

In [4]:
# create DF of key metric codes+names

metric_dict = {'Metric Code':['03','04','05','06','07','08','09'], 'Metric Name':['Unemployment Rate','Unemployment','Employment','Labor Force','Employment-Population Ratio','Labor Force Participation Rate','Civilian Noninstitutional Population']}

metric_df = pd.DataFrame(metric_dict)

metric_df.head(10)

  Metric Code                           Metric Name
0          03                     Unemployment Rate
1          04                          Unemployment
2          05                            Employment
3          06                           Labor Force
4          07           Employment-Population Ratio
5          08        Labor Force Participation Rate
6          09  Civilian Noninstitutional Population

In [5]:

# browser = Browser('chrome')

# area_codes_url = 'https://download.bls.gov/pub/time.series/la/la.area'
# browser.visit(area_codes_url)

# html = browser.html
# soup = BeautifulSoup(html, 'html.parser')

# print(html)

# site_text = soup.find('pre').text

# print(site_text)

In [6]:

with open('input_data/area_codes.csv') as area_codes_file:
        
    area_codes_data = csv.reader(area_codes_file)
    
    area_codes_df = pd.DataFrame(area_codes_data, columns=['Raw Data'])
    
area_codes_df.head(10)

                                            Raw Data
0  ﻿area_type_code  area_code       area_text    ...
1  A       ST0100000000000 Alabama 0       T       1
2  A       ST0200000000000 Alaska  0       T     ...
3  A       ST0400000000000 Arizona 0       T     ...
4  A       ST0500000000000 Arkansas        0     ...
5  A       ST0600000000000 California      0     ...
6  A       ST0800000000000 Colorado        0     ...
7  A       ST0900000000000 Connecticut     0     ...
8  A       ST1000000000000 Delaware        0     ...
9  A       ST1100000000000 District of Columbia  ...

In [7]:

area_type_code_list = []
area_code_list = []
area_text_list = []

for row in area_codes_df['Raw Data']:

    new_row = row.split('\t')

    
    for item in new_row:
        
        newer_row = item.split()
        newer_row_length = len(newer_row)
        
        print(f"newer_row = {newer_row}; newer_row_length = {newer_row_length}")
        
        area_type_code_list.append(newer_row[0])
        area_code_list.append(newer_row[1])
        
        area_text = ''
        
        for x in range(newer_row_length-7):
            
            next_area_text_bit = newer_row[x+2]
            
            if area_text == '':
                area_text = next_area_text_bit
            else:
                area_text += ' ' + next_area_text_bit
        
        
        area_text_list.append(area_text)


area_codes_df['Area Type Code'] = area_type_code_list
area_codes_df['City Area Code'] = area_code_list
area_codes_df['City'] = area_text_list


area_codes_df.head(50)

newer_row = ['\ufeffarea_type_code', 'area_code', 'area_text', 'display_level', 'selectable', 'sort_sequence']; newer_row_length = 6
newer_row = ['A', 'ST0100000000000', 'Alabama', '0', 'T', '1']; newer_row_length = 6
newer_row = ['A', 'ST0200000000000', 'Alaska', '0', 'T', '149']; newer_row_length = 6
newer_row = ['A', 'ST0400000000000', 'Arizona', '0', 'T', '193']; newer_row_length = 6
newer_row = ['A', 'ST0500000000000', 'Arkansas', '0', 'T', '257']; newer_row_length = 6
newer_row = ['A', 'ST0600000000000', 'California', '0', 'T', '383']; newer_row_length = 6
newer_row = ['A', 'ST0800000000000', 'Colorado', '0', 'T', '772']; newer_row_length = 6
newer_row = ['A', 'ST0900000000000', 'Connecticut', '0', 'T', '908']; newer_row_length = 6
newer_row = ['A', 'ST1000000000000', 'Delaware', '0', 'T', '1100']; newer_row_length = 6
newer_row = ['A', 'ST1100000000000', 'District', 'of', 'Columbia', '0', 'T', '1112']; newer_row_length = 8
newer_row = ['A', 'ST1200000000000', 'Florida', '0', 'T', '1119']; newer_row_length = 6
newer_row = ['A', 'ST1300000000000', 'Georgia', '0', 'T', '1331']; newer_row_length = 6
newer_row = ['A', 'ST1500000000000', 'Hawaii', '0', 'T', '1585']; newer_row_length = 6
newer_row = ['A', 'ST1600000000000', 'Idaho', '0', 'T', '1595']; newer_row_length = 6
newer_row = ['A', 'ST1700000000000', 'Illinois', '0', 'T', '1676']; newer_row_length = 6
newer_row = ['A', 'ST1800000000000', 'Indiana', '0', 'T', '1961']; newer_row_length = 6
newer_row = ['A', 'ST1900000000000', 'Iowa', '0', 'T', '2142']; newer_row_length = 6
newer_row = ['A', 'ST2000000000000', 'Kansas', '0', 'T', '2304']; newer_row_length = 6
newer_row = ['A', 'ST2100000000000', 'Kentucky', '0', 'T', '2454']; newer_row_length = 6
newer_row = ['A', 'ST2200000000000', 'Louisiana', '0', 'T', '2626']; newer_row_length = 6
newer_row = ['A', 'ST2300000000000', 'Maine', '0', 'T', '2730']; newer_row_length = 6
newer_row = ['A', 'ST2400000000000', 'Maryland', '0', 'T', '3302']; newer_row_length = 6
newer_row = ['A', 'ST2500000000000', 'Massachusetts', '0', 'T', '3349']; newer_row_length = 6
newer_row = ['A', 'ST2600000000000', 'Michigan', '0', 'T', '3747']; newer_row_length = 6
newer_row = ['A', 'ST2700000000000', 'Minnesota', '0', 'T', '3972']; newer_row_length = 6
newer_row = ['A', 'ST2800000000000', 'Mississippi', '0', 'T', '4144']; newer_row_length = 6
newer_row = ['A', 'ST2900000000000', 'Missouri', '0', 'T', '4278']; newer_row_length = 6
newer_row = ['A', 'ST3000000000000', 'Montana', '0', 'T', '4469']; newer_row_length = 6
newer_row = ['A', 'ST3100000000000', 'Nebraska', '0', 'T', '4542']; newer_row_length = 6
newer_row = ['A', 'ST3200000000000', 'Nevada', '0', 'T', '4660']; newer_row_length = 6
newer_row = ['A', 'ST3300000000000', 'New', 'Hampshire', '0', 'T', '4695']; newer_row_length = 7
newer_row = ['A', 'ST3400000000000', 'New', 'Jersey', '0', 'T', '4983']; newer_row_length = 7
newer_row = ['A', 'ST3500000000000', 'New', 'Mexico', '0', 'T', '5121']; newer_row_length = 7
newer_row = ['A', 'ST3600000000000', 'New', 'York', '0', 'T', '5186']; newer_row_length = 7
newer_row = ['A', 'ST3700000000000', 'North', 'Carolina', '0', 'T', '5393']; newer_row_length = 7
newer_row = ['A', 'ST3800000000000', 'North', 'Dakota', '0', 'T', '5615']; newer_row_length = 7
newer_row = ['A', 'ST3900000000000', 'Ohio', '0', 'T', '5688']; newer_row_length = 6
newer_row = ['A', 'ST4000000000000', 'Oklahoma', '0', 'T', '5924']; newer_row_length = 6
newer_row = ['A', 'ST4100000000000', 'Oregon', '0', 'T', '6059']; newer_row_length = 6
newer_row = ['A', 'ST4200000000000', 'Pennsylvania', '0', 'T', '6159']; newer_row_length = 6
newer_row = ['A', 'ST4400000000000', 'Rhode', 'Island', '0', 'T', '6350']; newer_row_length = 7
newer_row = ['A', 'ST4500000000000', 'South', 'Carolina', '0', 'T', '6398']; newer_row_length = 7
newer_row = ['A', 'ST4600000000000', 'South', 'Dakota', '0', 'T', '6498']; newer_row_length = 7
newer_row = ['A', 'ST4700000000000', 'Tennessee', '0', 'T', '6584']; newer_row_length = 6
newer_row = ['A', 'ST4800000000000', 'Texas', '0', 'T', '6756']; newer_row_length = 6
newer_row = ['A', 'ST4900000000000', 'Utah', '0', 'T', '7310']; newer_row_length = 6
newer_row = ['A', 'ST5000000000000', 'Vermont', '0', 'T', '7393']; newer_row_length = 6
newer_row = ['A', 'ST5100000000000', 'Virginia', '0', 'T', '7680']; newer_row_length = 6
newer_row = ['A', 'ST5300000000000', 'Washington', '0', 'T', '7879']; newer_row_length = 6
newer_row = ['A', 'ST5400000000000', 'West', 'Virginia', '0', 'T', '7998']; newer_row_length = 7
newer_row = ['A', 'ST5500000000000', 'Wisconsin', '0', 'T', '8086']; newer_row_length = 6
newer_row = ['A', 'ST5600000000000', 'Wyoming', '0', 'T', '8237']; newer_row_length = 6
newer_row = ['A', 'ST7200000000000', 'Puerto', 'Rico', '0', 'T', '8275']; newer_row_length = 7
newer_row = ['B', 'MT0111500000000', 'Anniston-Oxford-Jacksonville,', 'AL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '2']; newer_row_length = 10
newer_row = ['B', 'MT0112220000000', 'Auburn-Opelika,', 'AL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '3']; newer_row_length = 10
newer_row = ['B', 'MT0113820000000', 'Birmingham-Hoover,', 'AL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '4']; newer_row_length = 10
newer_row = ['B', 'MT0119300000000', 'Daphne-Fairhope-Foley,', 'AL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '5']; newer_row_length = 10
newer_row = ['B', 'MT0119460000000', 'Decatur,', 'AL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '6']; newer_row_length = 10
newer_row = ['B', 'MT0120020000000', 'Dothan,', 'AL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '7']; newer_row_length = 10
newer_row = ['B', 'MT0122520000000', 'Florence-Muscle', 'Shoals,', 'AL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '8']; newer_row_length = 11
newer_row = ['B', 'MT0123460000000', 'Gadsden,', 'AL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '9']; newer_row_length = 10
newer_row = ['B', 'MT0126620000000', 'Huntsville,', 'AL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '10']; newer_row_length = 10
newer_row = ['B', 'MT0133660000000', 'Mobile,', 'AL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '11']; newer_row_length = 10
newer_row = ['B', 'MT0133860000000', 'Montgomery,', 'AL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '12']; newer_row_length = 10
newer_row = ['B', 'MT0146220000000', 'Tuscaloosa,', 'AL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '13']; newer_row_length = 10
newer_row = ['B', 'MT0211260000000', 'Anchorage,', 'AK', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '150']; newer_row_length = 10
newer_row = ['B', 'MT0221820000000', 'Fairbanks,', 'AK', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '151']; newer_row_length = 10
newer_row = ['B', 'MT0422380000000', 'Flagstaff,', 'AZ', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '194']; newer_row_length = 10
newer_row = ['B', 'MT0429420000000', 'Lake', 'Havasu', 'City-Kingman,', 'AZ', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '195']; newer_row_length = 12
newer_row = ['B', 'MT0438060000000', 'Phoenix-Mesa-Scottsdale,', 'AZ', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '196']; newer_row_length = 10
newer_row = ['B', 'MT0439140000000', 'Prescott,', 'AZ', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '197']; newer_row_length = 10
newer_row = ['B', 'MT0443420000000', 'Sierra', 'Vista-Douglas,', 'AZ', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '198']; newer_row_length = 11
newer_row = ['B', 'MT0446060000000', 'Tucson,', 'AZ', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '199']; newer_row_length = 10
newer_row = ['B', 'MT0449740000000', 'Yuma,', 'AZ', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '200']; newer_row_length = 10
newer_row = ['B', 'MT0522220000000', 'Fayetteville-Springdale-Rogers,', 'AR-MO', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '258']; newer_row_length = 10
newer_row = ['B', 'MT0522900000000', 'Fort', 'Smith,', 'AR-OK', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '259']; newer_row_length = 11
newer_row = ['B', 'MT0526300000000', 'Hot', 'Springs,', 'AR', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '260']; newer_row_length = 11
newer_row = ['B', 'MT0527860000000', 'Jonesboro,', 'AR', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '261']; newer_row_length = 10
newer_row = ['B', 'MT0530780000000', 'Little', 'Rock-North', 'Little', 'Rock-Conway,', 'AR', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '262']; newer_row_length = 13
newer_row = ['B', 'MT0538220000000', 'Pine', 'Bluff,', 'AR', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '263']; newer_row_length = 11
newer_row = ['B', 'MT0612540000000', 'Bakersfield,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '384']; newer_row_length = 10
newer_row = ['B', 'MT0617020000000', 'Chico,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '385']; newer_row_length = 10
newer_row = ['B', 'MT0620940000000', 'El', 'Centro,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '386']; newer_row_length = 11
newer_row = ['B', 'MT0623420000000', 'Fresno,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '387']; newer_row_length = 10
newer_row = ['B', 'MT0625260000000', 'Hanford-Corcoran,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '388']; newer_row_length = 10
newer_row = ['B', 'MT0631080000000', 'Los', 'Angeles-Long', 'Beach-Anaheim,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '389']; newer_row_length = 12
newer_row = ['B', 'MT0631460000000', 'Madera,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '390']; newer_row_length = 10
newer_row = ['B', 'MT0632900000000', 'Merced,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '391']; newer_row_length = 10
newer_row = ['B', 'MT0633700000000', 'Modesto,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '392']; newer_row_length = 10
newer_row = ['B', 'MT0634900000000', 'Napa,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '393']; newer_row_length = 10
newer_row = ['B', 'MT0637100000000', 'Oxnard-Thousand', 'Oaks-Ventura,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '394']; newer_row_length = 11
newer_row = ['B', 'MT0639820000000', 'Redding,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '395']; newer_row_length = 10
newer_row = ['B', 'MT0640140000000', 'Riverside-San', 'Bernardino-Ontario,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '396']; newer_row_length = 11
newer_row = ['B', 'MT0640900000000', 'Sacramento--Roseville--Arden-Arcade,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '397']; newer_row_length = 10
newer_row = ['B', 'MT0641500000000', 'Salinas,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '398']; newer_row_length = 10
newer_row = ['B', 'MT0641740000000', 'San', 'Diego-Carlsbad,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '399']; newer_row_length = 11
newer_row = ['B', 'MT0641860000000', 'San', 'Francisco-Oakland-Hayward,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '400']; newer_row_length = 11
newer_row = ['B', 'MT0641940000000', 'San', 'Jose-Sunnyvale-Santa', 'Clara,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '401']; newer_row_length = 12
newer_row = ['B', 'MT0642020000000', 'San', 'Luis', 'Obispo-Paso', 'Robles-Arroyo', 'Grande,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '402']; newer_row_length = 14
newer_row = ['B', 'MT0642100000000', 'Santa', 'Cruz-Watsonville,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '403']; newer_row_length = 11
newer_row = ['B', 'MT0642200000000', 'Santa', 'Maria-Santa', 'Barbara,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '404']; newer_row_length = 12
newer_row = ['B', 'MT0642220000000', 'Santa', 'Rosa,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '405']; newer_row_length = 11
newer_row = ['B', 'MT0644700000000', 'Stockton-Lodi,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '406']; newer_row_length = 10
newer_row = ['B', 'MT0646700000000', 'Vallejo-Fairfield,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '407']; newer_row_length = 10
newer_row = ['B', 'MT0647300000000', 'Visalia-Porterville,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '408']; newer_row_length = 10
newer_row = ['B', 'MT0649700000000', 'Yuba', 'City,', 'CA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '409']; newer_row_length = 11
newer_row = ['B', 'MT0814500000000', 'Boulder,', 'CO', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '773']; newer_row_length = 10
newer_row = ['B', 'MT0817820000000', 'Colorado', 'Springs,', 'CO', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '774']; newer_row_length = 11
newer_row = ['B', 'MT0819740000000', 'Denver-Aurora-Lakewood,', 'CO', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '775']; newer_row_length = 10
newer_row = ['B', 'MT0822660000000', 'Fort', 'Collins,', 'CO', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '776']; newer_row_length = 11
newer_row = ['B', 'MT0824300000000', 'Grand', 'Junction,', 'CO', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '777']; newer_row_length = 11
newer_row = ['B', 'MT0824540000000', 'Greeley,', 'CO', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '778']; newer_row_length = 10
newer_row = ['B', 'MT0839380000000', 'Pueblo,', 'CO', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '779']; newer_row_length = 10
newer_row = ['B', 'MT0971950000000', 'Bridgeport-Stamford-Norwalk,', 'CT', 'Metropolitan', 'NECTA', '0', 'T', '909']; newer_row_length = 9
newer_row = ['B', 'MT0972850000000', 'Danbury,', 'CT', 'Metropolitan', 'NECTA', '0', 'T', '910']; newer_row_length = 9
newer_row = ['B', 'MT0973450000000', 'Hartford-West', 'Hartford-East', 'Hartford,', 'CT', 'Metropolitan', 'NECTA', '0', 'T', '911']; newer_row_length = 11
newer_row = ['B', 'MT0975700000000', 'New', 'Haven,', 'CT', 'Metropolitan', 'NECTA', '0', 'T', '912']; newer_row_length = 10
newer_row = ['B', 'MT0976450000000', 'Norwich-New', 'London-Westerly,', 'CT-RI', 'Metropolitan', 'NECTA', '0', 'T', '913']; newer_row_length = 10
newer_row = ['B', 'MT0978700000000', 'Waterbury,', 'CT', 'Metropolitan', 'NECTA', '0', 'T', '914']; newer_row_length = 9
newer_row = ['B', 'MT1020100000000', 'Dover,', 'DE', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1101']; newer_row_length = 10
newer_row = ['B', 'MT1041540000000', 'Salisbury,', 'MD-DE', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1102']; newer_row_length = 10
newer_row = ['B', 'MT1147900000000', 'Washington-Arlington-Alexandria,', 'DC-VA-MD-WV', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1113']; newer_row_length = 10
newer_row = ['B', 'MT1215980000000', 'Cape', 'Coral-Fort', 'Myers,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1120']; newer_row_length = 12
newer_row = ['B', 'MT1218880000000', 'Crestview-Fort', 'Walton', 'Beach-Destin,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1121']; newer_row_length = 12
newer_row = ['B', 'MT1219660000000', 'Deltona-Daytona', 'Beach-Ormond', 'Beach,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1122']; newer_row_length = 12
newer_row = ['B', 'MT1223540000000', 'Gainesville,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1123']; newer_row_length = 10
newer_row = ['B', 'MT1226140000000', 'Homosassa', 'Springs,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1124']; newer_row_length = 11
newer_row = ['B', 'MT1227260000000', 'Jacksonville,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1125']; newer_row_length = 10
newer_row = ['B', 'MT1229460000000', 'Lakeland-Winter', 'Haven,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1126']; newer_row_length = 11
newer_row = ['B', 'MT1233100000000', 'Miami-Fort', 'Lauderdale-West', 'Palm', 'Beach,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1127']; newer_row_length = 13
newer_row = ['B', 'MT1234940000000', 'Naples-Immokalee-Marco', 'Island,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1128']; newer_row_length = 11
newer_row = ['B', 'MT1235840000000', 'North', 'Port-Sarasota-Bradenton,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1129']; newer_row_length = 11
newer_row = ['B', 'MT1236100000000', 'Ocala,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1130']; newer_row_length = 10
newer_row = ['B', 'MT1236740000000', 'Orlando-Kissimmee-Sanford,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1131']; newer_row_length = 10
newer_row = ['B', 'MT1237340000000', 'Palm', 'Bay-Melbourne-Titusville,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1132']; newer_row_length = 11
newer_row = ['B', 'MT1237460000000', 'Panama', 'City,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1133']; newer_row_length = 11
newer_row = ['B', 'MT1237860000000', 'Pensacola-Ferry', 'Pass-Brent,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1134']; newer_row_length = 11
newer_row = ['B', 'MT1238940000000', 'Port', 'St.', 'Lucie,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1135']; newer_row_length = 12
newer_row = ['B', 'MT1239460000000', 'Punta', 'Gorda,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1136']; newer_row_length = 11
newer_row = ['B', 'MT1242680000000', 'Sebastian-Vero', 'Beach,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1137']; newer_row_length = 11
newer_row = ['B', 'MT1242700000000', 'Sebring,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1138']; newer_row_length = 10
newer_row = ['B', 'MT1245220000000', 'Tallahassee,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1139']; newer_row_length = 10
newer_row = ['B', 'MT1245300000000', 'Tampa-St.', 'Petersburg-Clearwater,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1140']; newer_row_length = 11
newer_row = ['B', 'MT1245540000000', 'The', 'Villages,', 'FL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1141']; newer_row_length = 11
newer_row = ['B', 'MT1310500000000', 'Albany,', 'GA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1332']; newer_row_length = 10
newer_row = ['B', 'MT1312020000000', 'Athens-Clarke', 'County,', 'GA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1333']; newer_row_length = 11
newer_row = ['B', 'MT1312060000000', 'Atlanta-Sandy', 'Springs-Roswell,', 'GA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1334']; newer_row_length = 11
newer_row = ['B', 'MT1312260000000', 'Augusta-Richmond', 'County,', 'GA-SC', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1335']; newer_row_length = 11
newer_row = ['B', 'MT1315260000000', 'Brunswick,', 'GA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1336']; newer_row_length = 10
newer_row = ['B', 'MT1317980000000', 'Columbus,', 'GA-AL', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1337']; newer_row_length = 10
newer_row = ['B', 'MT1319140000000', 'Dalton,', 'GA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1338']; newer_row_length = 10
newer_row = ['B', 'MT1323580000000', 'Gainesville,', 'GA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1339']; newer_row_length = 10
newer_row = ['B', 'MT1325980000000', 'Hinesville,', 'GA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1340']; newer_row_length = 10
newer_row = ['B', 'MT1331420000000', 'Macon-Bibb', 'County,', 'GA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1341']; newer_row_length = 11
newer_row = ['B', 'MT1340660000000', 'Rome,', 'GA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1342']; newer_row_length = 10
newer_row = ['B', 'MT1342340000000', 'Savannah,', 'GA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1343']; newer_row_length = 10
newer_row = ['B', 'MT1346660000000', 'Valdosta,', 'GA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1344']; newer_row_length = 10
newer_row = ['B', 'MT1347580000000', 'Warner', 'Robins,', 'GA', 'Metropolitan', 'Statistical', 'Area', '0', 'T', '1345']; newer_row_length = 11

,Raw Data,Area Type Code,City Area Code,City
0,﻿area_type_code area_code area_text ...,﻿area_type_code,area_code,
1,A ST0100000000000 Alabama 0 T 1,A,ST0100000000000,
2,A ST0200000000000 Alaska 0 T ...,A,ST0200000000000,
3,A ST0400000000000 Arizona 0 T ...,A,ST0400000000000,
4,A ST0500000000000 Arkansas 0 ...,A,ST0500000000000,
5,A ST0600000000000 California 0 ...,A,ST0600000000000,
6,A ST0800000000000 Colorado 0 ...,A,ST0800000000000,
7,A ST0900000000000 Connecticut 0 ...,A,ST0900000000000,
8,A ST1000000000000 Delaware 0 ...,A,ST1000000000000,
9,A ST1100000000000 District of Columbia ...,A,ST1100000000000,District
10,A ST1200000000000 Florida 0 T ...,A,ST1200000000000,
11,A ST1300000000000 Georgia 0 T ...,A,ST1300000000000,
12,A ST1500000000000 Hawaii 0 T ...,A,ST1500000000000,
13,A ST1600000000000 Idaho 0 T ...,A,ST1600000000000,
14,A ST1700000000000 Illinois 0 ...,A,ST1700000000000,
15,A ST1800000000000 Indiana 0 T ...,A,ST1800000000000,
16,A ST1900000000000 Iowa 0 T ...,A,ST1900000000000,
17,A ST2000000000000 Kansas 0 T ...,A,ST2000000000000,
18,A ST2100000000000 Kentucky 0 ...,A,ST2100000000000,
19,A ST2200000000000 Louisiana 0 ...,A,ST2200000000000,
20,A ST2300000000000 Maine 0 T ...,A,ST2300000000000,
21,A ST2400000000000 Maryland 0 ...,A,ST2400000000000,
22,A ST2500000000000 Massachusetts 0 ...,A,ST2500000000000,
23,A ST2600000000000 Michigan 0 ...,A,ST2600000000000,
24,A ST2700000000000 Minnesota 0 ...,A,ST2700000000000,
25,A ST2800000000000 Mississippi 0 ...,A,ST2800000000000,
26,A ST2900000000000 Missouri 0 ...,A,ST2900000000000,
27,A ST3000000000000 Montana 0 T ...,A,ST3000000000000,
28,A ST3100000000000 Nebraska 0 ...,A,ST3100000000000,
29,A ST3200000000000 Nevada 0 T ...,A,ST3200000000000,
30,A ST3300000000000 New Hampshire 0 ...,A,ST3300000000000,
31,A ST3400000000000 New Jersey 0 ...,A,ST3400000000000,
32,A ST3500000000000 New Mexico 0 ...,A,ST3500000000000,
33,A ST3600000000000 New York 0 ...,A,ST3600000000000,
34,A ST3700000000000 North Carolina 0 ...,A,ST3700000000000,
35,A ST3800000000000 North Dakota 0 ...,A,ST3800000000000,
36,A ST3900000000000 Ohio 0 T ...,A,ST3900000000000,
37,A ST4000000000000 Oklahoma 0 ...,A,ST4000000000000,
38,A ST4100000000000 Oregon 0 T ...,A,ST4100000000000,
39,A ST4200000000000 Pennsylvania 0 ...,A,ST4200000000000,
40,A ST4400000000000 Rhode Island 0 ...,A,ST4400000000000,
41,A ST4500000000000 South Carolina 0 ...,A,ST4500000000000,
42,A ST4600000000000 South Dakota 0 ...,A,ST4600000000000,
43,A ST4700000000000 Tennessee 0 ...,A,ST4700000000000,
44,A ST4800000000000 Texas 0 T ...,A,ST4800000000000,
45,A ST4900000000000 Utah 0 T ...,A,ST4900000000000,
46,A ST5000000000000 Vermont 0 T ...,A,ST5000000000000,
47,A ST5100000000000 Virginia 0 ...,A,ST5100000000000,
48,A ST5300000000000 Washington 0 ...,A,ST5300000000000,
49,A ST5400000000000 West Virginia 0 ...,A,ST5400000000000,

In [8]:
# Narrow down to only rows with Area Type Code = 'G' ("Cities and towns above 25,000 population"), per https://download.bls.gov/pub/time.series/la/la.area_type

city_area_codes_df = area_codes_df[area_codes_df['Area Type Code']=='G'].reset_index()

city_area_codes_df.drop(columns='index', inplace=True)
print(f"{city_area_codes_df['City Area Code'].size} total records of Area Type 'G': 'Cities and towns above 25,000 population'")

city_area_codes_df.drop(columns='Area Type Code', inplace=True)
city_area_codes_df.drop(columns='Raw Data', inplace=True)

city_area_codes_df.head(50)

1940 total records of Area Type 'G': 'Cities and towns above 25,000 population'

     City Area Code           City
0   CS0907310000000       Branford
1   CS0914160000000       Cheshire
2   CS0922630000000  East Hartford
3   CS0922910000000     East Haven
4   CS0925990000000        Enfield
5   CS0926620000000      Fairfield
6   CS0927600000000     Farmington
7   CS0931240000000    Glastonbury
8   CS0933620000000      Greenwich
9   CS0934250000000         Groton
10  CS0935650000000         Hamden
11  CS0944700000000     Manchester
12  CS0944910000000      Mansfield
13  CS0952140000000      Newington
14  CS0952630000000    New Milford
15  CS0952980000000        Newtown
16  CS0963970000000     Ridgefield
17  CS0970550000000    Southington
18  CS0971390000000  South Windsor
19  CS0974190000000      Stratford
20  CS0977200000000       Trumbull
21  CS0978250000000         Vernon
22  CS0978740000000    Wallingford
23  CS0982590000000  West Hartford
24  CS0983500000000       Westport
25  CS0984900000000   Wethersfield
26  CS0987000000000        Windsor
27  CS2501465000000        Andover
28  CS2501605000000      Arlington
29  CS2505070000000        Belmont
30  CS2505805000000      Billerica
31  CS2509175000000      Brookline
32  CS2509840000000     Burlington
33  CS2513135000000     Chelmsford
34  CS2516250000000        Danvers
35  CS2516425000000      Dartmouth
36  CS2516495000000         Dedham
37  CS2517475000000         Dracut
38  CS2520100000000         Easton
39  CS2523105000000       Falmouth
40  CS2535215000000      Lexington
41  CS2538855000000     Marshfield
42  CS2541165000000        Milford
43  CS2541690000000         Milton
44  CS2543895000000         Natick
45  CS2544105000000        Needham
46  CS2546365000000  North Andover
47  CS2550250000000        Norwood
48  CS2554310000000       Plymouth
49  CS2556130000000        Reading

In [9]:
top200_loc_pop_df = city_loc_pop_df.head(200)

top200cities_df = pd.DataFrame(columns=['City','Latitude','Longitude','Population', 'Unemployment Rate Series ID', 'Unemployment Series ID', 'Labor Force Participation Rate Series ID'])

top200cities_df['City'] = city_loc_pop_df['City']
top200cities_df['Latitude'] = city_loc_pop_df['Latitude']
top200cities_df['Longitude'] = city_loc_pop_df['Longitude']
top200cities_df['Population'] = city_loc_pop_df['Population']

top200cities_df.head(50)

,City,Latitude,Longitude,Population,Unemployment Rate Series ID,Unemployment Series ID,Labor Force Participation Rate Series ID
0,New York,40.6943,-73.9249,18972871,NaN,NaN,NaN
1,Los Angeles,34.1141,-118.4068,12121244,NaN,NaN,NaN
2,Chicago,41.8375,-87.6866,8595181,NaN,NaN,NaN
3,Miami,25.7840,-80.2101,5711945,NaN,NaN,NaN
4,Dallas,32.7935,-96.7667,5668165,NaN,NaN,NaN
5,Houston,29.7860,-95.3885,5650910,NaN,NaN,NaN
6,Philadelphia,40.0077,-75.1339,5512873,NaN,NaN,NaN
7,Atlanta,33.7628,-84.4220,5046555,NaN,NaN,NaN
8,Washington,38.9047,-77.0163,4810669,NaN,NaN,NaN
9,Boston,42.3188,-71.0852,4208580,NaN,NaN,NaN
10,Phoenix,33.5722,-112.0892,4047095,NaN,NaN,NaN
11,Detroit,42.3834,-83.1024,3522856,NaN,NaN,NaN
12,Seattle,47.6211,-122.3244,3438221,NaN,NaN,NaN
13,San Francisco,37.7558,-122.4449,3290197,NaN,NaN,NaN
14,San Diego,32.8313,-117.1222,3084174,NaN,NaN,NaN
15,Minneapolis,44.9635,-93.2678,2856952,NaN,NaN,NaN
16,Brooklyn,40.6501,-73.9496,2736074,NaN,NaN,NaN
17,Tampa,27.9945,-82.4447,2683956,NaN,NaN,NaN
18,Denver,39.7620,-104.8758,2650725,NaN,NaN,NaN
19,Queens,40.7498,-73.7976,2405464,NaN,NaN,NaN
20,Baltimore,39.3051,-76.6144,2205092,NaN,NaN,NaN
21,Las Vegas,36.2333,-115.2654,2150373,NaN,NaN,NaN
22,St. Louis,38.6359,-90.2451,2092481,NaN,NaN,NaN
23,Portland,45.5371,-122.6500,2036875,NaN,NaN,NaN
24,Riverside,33.9381,-117.3949,2022285,NaN,NaN,NaN
25,Orlando,28.4773,-81.3370,1927699,NaN,NaN,NaN
26,Sacramento,38.5677,-121.4685,1924167,NaN,NaN,NaN
27,San Juan,18.3985,-66.0610,1915105,NaN,NaN,NaN
28,San Antonio,29.4632,-98.5238,1910785,NaN,NaN,NaN
29,San Jose,37.3012,-121.8480,1729879,NaN,NaN,NaN
30,Pittsburgh,40.4397,-79.9763,1720279,NaN,NaN,NaN
31,Cincinnati,39.1413,-84.5060,1712287,NaN,NaN,NaN
32,Manhattan,40.7834,-73.9662,1694263,NaN,NaN,NaN
33,Cleveland,41.4764,-81.6805,1683059,NaN,NaN,NaN
34,Indianapolis,39.7771,-86.1458,1659305,NaN,NaN,NaN
35,Austin,30.3005,-97.7522,1659251,NaN,NaN,NaN
36,Kansas City,39.1238,-94.5541,1644497,NaN,NaN,NaN
37,Columbus,39.9862,-82.9855,1556848,NaN,NaN,NaN
38,Charlotte,35.2083,-80.8303,1516107,NaN,NaN,NaN
39,Virginia Beach,36.7335,-76.0435,1500764,NaN,NaN,NaN
40,Bronx,40.8501,-73.8662,1472654,NaN,NaN,NaN
41,Milwaukee,43.0642,-87.9675,1340981,NaN,NaN,NaN
42,Providence,41.8230,-71.4187,1270149,NaN,NaN,NaN
43,Jacksonville,30.3322,-81.6749,1220191,NaN,NaN,NaN
44,Salt Lake City,40.7776,-111.9311,1135344,NaN,NaN,NaN
45,Nashville,36.1715,-86.7842,1098486,NaN,NaN,NaN
46,Raleigh,35.8324,-78.6429,1062018,NaN,NaN,NaN
47,Memphis,35.1087,-89.9663,1034498,NaN,NaN,NaN
48,Louisville,38.1663,-85.6485,1022630,NaN,NaN,NaN
49,Richmond,37.5295,-77.4756,1008069,NaN,NaN,NaN

In [10]:

top_cities_df = top200cities_df.merge(city_area_codes_df, how='left', on='City')

top_cities_df.head(10)

,City,Latitude,Longitude,Population,Unemployment Rate Series ID,Unemployment Series ID,Labor Force Participation Rate Series ID,City Area Code
0,New York,40.6943,-73.9249,18972871,NaN,NaN,NaN,CT3651000000000
1,Los Angeles,34.1141,-118.4068,12121244,NaN,NaN,NaN,CT0644000000000
2,Chicago,41.8375,-87.6866,8595181,NaN,NaN,NaN,CT1714000000000
3,Miami,25.7840,-80.2101,5711945,NaN,NaN,NaN,CT1245000000000
4,Dallas,32.7935,-96.7667,5668165,NaN,NaN,NaN,CT4819000000000
5,Houston,29.7860,-95.3885,5650910,NaN,NaN,NaN,CT4835000000000
6,Philadelphia,40.0077,-75.1339,5512873,NaN,NaN,NaN,CT4260000000000
7,Atlanta,33.7628,-84.4220,5046555,NaN,NaN,NaN,CT1304000000000
8,Washington,38.9047,-77.0163,4810669,NaN,NaN,NaN,CT1150000000000
9,Washington,38.9047,-77.0163,4810669,NaN,NaN,NaN,CT4981960000000

In [11]:

top_cities_df.drop_duplicates(subset=['City'], inplace=True)

top_cities_df.dropna(subset=['City Area Code'], inplace=True)

top_cities_df.reset_index(inplace=True)
top_cities_df.drop(columns='index', inplace=True)

top_cities_df.head(10)

,City,Latitude,Longitude,Population,Unemployment Rate Series ID,Unemployment Series ID,Labor Force Participation Rate Series ID,City Area Code
0,New York,40.6943,-73.9249,18972871,NaN,NaN,NaN,CT3651000000000
1,Los Angeles,34.1141,-118.4068,12121244,NaN,NaN,NaN,CT0644000000000
2,Chicago,41.8375,-87.6866,8595181,NaN,NaN,NaN,CT1714000000000
3,Miami,25.7840,-80.2101,5711945,NaN,NaN,NaN,CT1245000000000
4,Dallas,32.7935,-96.7667,5668165,NaN,NaN,NaN,CT4819000000000
5,Houston,29.7860,-95.3885,5650910,NaN,NaN,NaN,CT4835000000000
6,Philadelphia,40.0077,-75.1339,5512873,NaN,NaN,NaN,CT4260000000000
7,Atlanta,33.7628,-84.4220,5046555,NaN,NaN,NaN,CT1304000000000
8,Washington,38.9047,-77.0163,4810669,NaN,NaN,NaN,CT1150000000000
9,Boston,42.3188,-71.0852,4208580,NaN,NaN,NaN,CT2507000000000

In [12]:

top_cities_df['Unemployment Rate Series ID'] = 'LAU' + top_cities_df['City Area Code'] + '03'
top_cities_df['Unemployment Series ID'] = 'LAU' + top_cities_df['City Area Code'] + '04'
top_cities_df['Labor Force Participation Rate Series ID'] = 'LAU' + top_cities_df['City Area Code'] + '08'

top_cities_df.head(10)

,City,Latitude,Longitude,Population,Unemployment Rate Series ID,Unemployment Series ID,Labor Force Participation Rate Series ID,City Area Code
0,New York,40.6943,-73.9249,18972871,LAUCT365100000000003,LAUCT365100000000004,LAUCT365100000000008,CT3651000000000
1,Los Angeles,34.1141,-118.4068,12121244,LAUCT064400000000003,LAUCT064400000000004,LAUCT064400000000008,CT0644000000000
2,Chicago,41.8375,-87.6866,8595181,LAUCT171400000000003,LAUCT171400000000004,LAUCT171400000000008,CT1714000000000
3,Miami,25.7840,-80.2101,5711945,LAUCT124500000000003,LAUCT124500000000004,LAUCT124500000000008,CT1245000000000
4,Dallas,32.7935,-96.7667,5668165,LAUCT481900000000003,LAUCT481900000000004,LAUCT481900000000008,CT4819000000000
5,Houston,29.7860,-95.3885,5650910,LAUCT483500000000003,LAUCT483500000000004,LAUCT483500000000008,CT4835000000000
6,Philadelphia,40.0077,-75.1339,5512873,LAUCT426000000000003,LAUCT426000000000004,LAUCT426000000000008,CT4260000000000
7,Atlanta,33.7628,-84.4220,5046555,LAUCT130400000000003,LAUCT130400000000004,LAUCT130400000000008,CT1304000000000
8,Washington,38.9047,-77.0163,4810669,LAUCT115000000000003,LAUCT115000000000004,LAUCT115000000000008,CT1150000000000
9,Boston,42.3188,-71.0852,4208580,LAUCT250700000000003,LAUCT250700000000004,LAUCT250700000000008,CT2507000000000

In [13]:

top50df = top_cities_df.iloc[0:50]

top50df.head(10)

,City,Latitude,Longitude,Population,Unemployment Rate Series ID,Unemployment Series ID,Labor Force Participation Rate Series ID,City Area Code
0,New York,40.6943,-73.9249,18972871,LAUCT365100000000003,LAUCT365100000000004,LAUCT365100000000008,CT3651000000000
1,Los Angeles,34.1141,-118.4068,12121244,LAUCT064400000000003,LAUCT064400000000004,LAUCT064400000000008,CT0644000000000
2,Chicago,41.8375,-87.6866,8595181,LAUCT171400000000003,LAUCT171400000000004,LAUCT171400000000008,CT1714000000000
3,Miami,25.7840,-80.2101,5711945,LAUCT124500000000003,LAUCT124500000000004,LAUCT124500000000008,CT1245000000000
4,Dallas,32.7935,-96.7667,5668165,LAUCT481900000000003,LAUCT481900000000004,LAUCT481900000000008,CT4819000000000
5,Houston,29.7860,-95.3885,5650910,LAUCT483500000000003,LAUCT483500000000004,LAUCT483500000000008,CT4835000000000
6,Philadelphia,40.0077,-75.1339,5512873,LAUCT426000000000003,LAUCT426000000000004,LAUCT426000000000008,CT4260000000000
7,Atlanta,33.7628,-84.4220,5046555,LAUCT130400000000003,LAUCT130400000000004,LAUCT130400000000008,CT1304000000000
8,Washington,38.9047,-77.0163,4810669,LAUCT115000000000003,LAUCT115000000000004,LAUCT115000000000008,CT1150000000000
9,Boston,42.3188,-71.0852,4208580,LAUCT250700000000003,LAUCT250700000000004,LAUCT250700000000008,CT2507000000000

In [14]:
next50df = top_cities_df.iloc[50:100]

next50df.head(10)

,City,Latitude,Longitude,Population,Unemployment Rate Series ID,Unemployment Series ID,Labor Force Participation Rate Series ID,City Area Code
50,Tucson,32.1541,-110.8787,875284,LAUCT047700000000003,LAUCT047700000000004,LAUCT047700000000008,CT0477000000000
51,Honolulu,21.3294,-157.8460,835291,LAUCT151699900000003,LAUCT151699900000004,LAUCT151699900000008,CT1516999000000
52,McAllen,26.2252,-98.2467,809002,LAUCT484538400000003,LAUCT484538400000004,LAUCT484538400000008,CT4845384000000
53,Omaha,41.2627,-96.0529,806485,LAUCT313700000000003,LAUCT313700000000004,LAUCT313700000000008,CT3137000000000
54,El Paso,31.8476,-106.4300,794344,LAUCT482400000000003,LAUCT482400000000004,LAUCT482400000000008,CT4824000000000
55,Albuquerque,35.1054,-106.6465,765693,LAUCT350200000000003,LAUCT350200000000004,LAUCT350200000000008,CT3502000000000
56,Rochester,43.1680,-77.6162,737309,LAUCT275488000000003,LAUCT275488000000004,LAUCT275488000000008,CT2754880000000
57,Sarasota,27.3387,-82.5432,727388,LAUCT126417500000003,LAUCT126417500000004,LAUCT126417500000008,CT1264175000000
58,Fresno,36.7830,-119.7939,719558,LAUCT062700000000003,LAUCT062700000000004,LAUCT062700000000008,CT0627000000000
59,Tulsa,36.1283,-95.9042,715983,LAUCT407500000000003,LAUCT407500000000004,LAUCT407500000000008,CT4075000000000

In [15]:

# Unemployment rate top 50 data pull

top50_unemployment_rate_json_params = {"seriesid":top50df['Unemployment Rate Series ID'].tolist(), "catalog":"false", "startyear":"2010", "endyear":"2023", "registrationkey":bls_api_key}
top50_unemployment_rate_df = pd.DataFrame(columns=['Unemployment Rate Series ID','August 2023 Unemployment Rate'])


headers = {'Content-type': 'application/json'}
data = json.dumps(top50_unemployment_rate_json_params)
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

### print(json_data)


seriesIDs_list = []
latest_values_list = []


for series in json_data['Results']['series']:
    
    seriesID = series['seriesID']
    seriesIDs_list.append(seriesID)
    
    latest_value = series['data'][0]['value']
    latest_values_list.append(latest_value)

    ### print(f"series ID: {seriesID},latest value:{latest_value}")


top50_unemployment_rate_df['Unemployment Rate Series ID'] = seriesIDs_list
top50_unemployment_rate_df['August 2023 Unemployment Rate'] = latest_values_list


top50_unemployment_rate_df.head()


### for looping through more data points from each series for timeseries data for individual cities (maybe/later)    
#    for item in series['data']:
#        year = item['year']
#        period = item['period']
#        value = item['value']

  Unemployment Rate Series ID August 2023 Unemployment Rate
0        LAUCT365100000000003                           5.6
1        LAUCT064400000000003                           5.7
2        LAUCT171400000000003                           4.4
3        LAUCT124500000000003                           1.8
4        LAUCT481900000000003                           4.3

In [16]:

# Unemployment rate next 50 data pull

next50_unemployment_rate_json_params = {"seriesid":next50df['Unemployment Rate Series ID'].tolist(), "catalog":"false", "startyear":"2010", "endyear":"2023", "registrationkey":bls_api_key}
next50_unemployment_rate_df = pd.DataFrame(columns=['Unemployment Rate Series ID','August 2023 Unemployment Rate'])


headers = {'Content-type': 'application/json'}
data = json.dumps(next50_unemployment_rate_json_params)
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

### print(json_data)


seriesIDs_list = []
latest_values_list = []

for series in json_data['Results']['series']:
    
    seriesID = series['seriesID']
    seriesIDs_list.append(seriesID)
    
    latest_value = series['data'][0]['value']
    latest_values_list.append(latest_value)

    ### print(f"series ID: {seriesID},latest value:{latest_value}")


next50_unemployment_rate_df['Unemployment Rate Series ID'] = seriesIDs_list
next50_unemployment_rate_df['August 2023 Unemployment Rate'] = latest_values_list


next50_unemployment_rate_df.head()


### for looping through more data points from each series for timeseries data for individual cities (maybe/later)    
#    for item in series['data']:
#        year = item['year']
#        period = item['period']
#        value = item['value']

  Unemployment Rate Series ID August 2023 Unemployment Rate
0        LAUCT047700000000003                           4.9
1        LAUCT151699900000003                           2.6
2        LAUCT484538400000003                           5.1
3        LAUCT313700000000003                           2.6
4        LAUCT482400000000003                           4.9

In [17]:
# combined unemployment rate data for top 100 US cities

unemployment_rate_df = pd.concat([top50_unemployment_rate_df,next50_unemployment_rate_df], ignore_index=True)

unemployment_rate_df.head()

  Unemployment Rate Series ID August 2023 Unemployment Rate
0        LAUCT365100000000003                           5.6
1        LAUCT064400000000003                           5.7
2        LAUCT171400000000003                           4.4
3        LAUCT124500000000003                           1.8
4        LAUCT481900000000003                           4.3

In [18]:

# Unemployment (abs) top 50 data pull

top50_unemployment_json_params = {"seriesid":top50df['Unemployment Series ID'].tolist(), "catalog":"false", "startyear":"2010", "endyear":"2023", "registrationkey":bls_api_key}
top50_unemployment_df = pd.DataFrame(columns=['Unemployment Series ID','August 2023 Unemployment'])


headers = {'Content-type': 'application/json'}
data = json.dumps(top50_unemployment_json_params)
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

### print(json_data)


seriesIDs_list = []
latest_values_list = []


for series in json_data['Results']['series']:
    
    seriesID = series['seriesID']
    seriesIDs_list.append(seriesID)
    
    latest_value = series['data'][0]['value']
    latest_values_list.append(latest_value)

    ### print(f"series ID: {seriesID},latest value:{latest_value}")


top50_unemployment_df['Unemployment Series ID'] = seriesIDs_list
top50_unemployment_df['August 2023 Unemployment'] = latest_values_list


top50_unemployment_df.head()


### for looping through more data points from each series for timeseries data for individual cities (maybe/later)    
#    for item in series['data']:
#        year = item['year']
#        period = item['period']
#        value = item['value']

  Unemployment Series ID August 2023 Unemployment
0   LAUCT365100000000004                   234715
1   LAUCT064400000000004                   117804
2   LAUCT171400000000004                    61024
3   LAUCT124500000000004                     4350
4   LAUCT481900000000004                    32665

In [19]:

# Unemployment (abs) next 50 data pull

next50_unemployment_json_params = {"seriesid":next50df['Unemployment Series ID'].tolist(), "catalog":"false", "startyear":"2010", "endyear":"2023", "registrationkey":bls_api_key}
next50_unemployment_df = pd.DataFrame(columns=['Unemployment Series ID','August 2023 Unemployment'])


headers = {'Content-type': 'application/json'}
data = json.dumps(next50_unemployment_json_params)
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

### print(json_data)


seriesIDs_list = []
latest_values_list = []


for series in json_data['Results']['series']:
    
    seriesID = series['seriesID']
    seriesIDs_list.append(seriesID)
    
    latest_value = series['data'][0]['value']
    latest_values_list.append(latest_value)

    ### print(f"series ID: {seriesID},latest value:{latest_value}")


next50_unemployment_df['Unemployment Series ID'] = seriesIDs_list
next50_unemployment_df['August 2023 Unemployment'] = latest_values_list


next50_unemployment_df.head()


### for looping through more data points from each series for timeseries data for individual cities (maybe/later)    
#    for item in series['data']:
#        year = item['year']
#        period = item['period']
#        value = item['value']

  Unemployment Series ID August 2023 Unemployment
0   LAUCT047700000000004                    13077
1   LAUCT151699900000004                    12026
2   LAUCT484538400000004                     3635
3   LAUCT313700000000004                     6780
4   LAUCT482400000000004                    15561

In [20]:
# combined unemployment data for top 100 US cities

unemployment_df = pd.concat([top50_unemployment_df,next50_unemployment_df], ignore_index=True)

unemployment_df.head()

  Unemployment Series ID August 2023 Unemployment
0   LAUCT365100000000004                   234715
1   LAUCT064400000000004                   117804
2   LAUCT171400000000004                    61024
3   LAUCT124500000000004                     4350
4   LAUCT481900000000004                    32665

In [21]:

top_cities_combined_df = top_cities_df.merge(unemployment_rate_df, how='inner', on='Unemployment Rate Series ID').merge(unemployment_df, how='inner', on='Unemployment Series ID')

print(f"# of rows/cities: {len(top_cities_combined_df.index)}")

top_cities_combined_df.head()

# of rows/cities: 100

,City,Latitude,Longitude,Population,Unemployment Rate Series ID,Unemployment Series ID,Labor Force Participation Rate Series ID,City Area Code,August 2023 Unemployment Rate,August 2023 Unemployment
0,New York,40.6943,-73.9249,18972871,LAUCT365100000000003,LAUCT365100000000004,LAUCT365100000000008,CT3651000000000,5.6,234715
1,Los Angeles,34.1141,-118.4068,12121244,LAUCT064400000000003,LAUCT064400000000004,LAUCT064400000000008,CT0644000000000,5.7,117804
2,Chicago,41.8375,-87.6866,8595181,LAUCT171400000000003,LAUCT171400000000004,LAUCT171400000000008,CT1714000000000,4.4,61024
3,Miami,25.7840,-80.2101,5711945,LAUCT124500000000003,LAUCT124500000000004,LAUCT124500000000008,CT1245000000000,1.8,4350
4,Dallas,32.7935,-96.7667,5668165,LAUCT481900000000003,LAUCT481900000000004,LAUCT481900000000008,CT4819000000000,4.3,32665

In [22]:
city_data_df = top_cities_combined_df.loc[:, ['City','Latitude','Longitude','Population','August 2023 Unemployment Rate','August 2023 Unemployment']]

city_data_df.head()

,City,Latitude,Longitude,Population,August 2023 Unemployment Rate,August 2023 Unemployment
0,New York,40.6943,-73.9249,18972871,5.6,234715
1,Los Angeles,34.1141,-118.4068,12121244,5.7,117804
2,Chicago,41.8375,-87.6866,8595181,4.4,61024
3,Miami,25.7840,-80.2101,5711945,1.8,4350
4,Dallas,32.7935,-96.7667,5668165,4.3,32665

In [26]:

engine = create_engine('sqlite:///../city_db.sqlite', echo=True)
sqlite_connection = engine.connect()
sqlite_table = "CityUnemployment"

In [27]:

city_data_df.to_sql(sqlite_table, sqlite_connection, if_exists='replace')

2023-09-25 10:01:28,560 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-25 10:01:28,564 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("CityUnemployment")
2023-09-25 10:01:28,565 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-25 10:01:28,567 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("CityUnemployment")
2023-09-25 10:01:28,567 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-25 10:01:28,570 INFO sqlalchemy.engine.Engine
CREATE TABLE "CityUnemployment" (
	"index" BIGINT,
	"City" TEXT,
	"Latitude" TEXT,
	"Longitude" TEXT,
	"Population" TEXT,
	"August 2023 Unemployment Rate" TEXT,
	"August 2023 Unemployment" TEXT
)


2023-09-25 10:01:28,570 INFO sqlalchemy.engine.Engine [no key 0.00042s] ()
2023-09-25 10:01:28,573 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_CityUnemployment_index" ON "CityUnemployment" ("index")
2023-09-25 10:01:28,573 INFO sqlalchemy.engine.Engine [no key 0.00070s] ()
2023-09-25 10:01:28,578 INFO sqlalchemy.engine.Engine INSERT INTO "CityUnemployment" ("index", "City", "Latitude", "Longitude", "Population", "August 2023 Unemployment Rate", "August 2023 Unemployment") VALUES (?, ?, ?, ?, ?, ?, ?)
2023-09-25 10:01:28,579 INFO sqlalchemy.engine.Engine [generated in 0.00136s] ((0, 'New York', '40.6943', '-73.9249', '18972871', '5.6', '234715'), (1, 'Los Angeles', '34.1141', '-118.4068', '12121244', '5.7', '117804'), (2, 'Chicago', '41.8375', '-87.6866', '8595181', '4.4', '61024'), (3, 'Miami', '25.7840', '-80.2101', '5711945', '1.8', '4350'), (4, 'Dallas', '32.7935', '-96.7667', '5668165', '4.3', '32665'), (5, 'Houston', '29.7860', '-95.3885', '5650910', '5.2', '62158'), (6, 'Philadelphia', '40.0077', '-75.1339', '5512873', '4.7', '34607'), (7, 'Atlanta', '33.7628', '-84.4220', '5046555', '3.9', '10846')  ... displaying 10 of 100 total bound parameter sets ...  (98, 'Winston-Salem', '36.1029', '-80.2610', '420400', '4.0', '4903'), (99, 'Syracuse', '43.0407', '-76.1437', '418875', '4.3', '2594'))
2023-09-25 10:01:28,581 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-09-25 10:01:28,581 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-25 10:01:28,582 INFO sqlalchemy.engine.Engine COMMIT

100

In [28]:

sqlite_connection.close()